.buttonsContainer {
    margin-top: 20px;
}

.clock {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 400px;
}

.watch {
    font-size: 20px;
}

.watch strong {

}

.more {
    font-size: 16px;
}