.App {
    margin-top: 60px;
    position: relative;
}

.hw {
    padding: 30px 50px;
    position: relative;
}

.hwTitle {
    font-weight: bolder;
    margin-top: 40px;
    padding: 35px 50px 9px;
    border-top: solid 2px lightgrey;
    border-bottom: solid 2px lightgrey;
}