.sendForm {
    display: flex;
    justify-content: center;
}

.textarea {
    resize: none;
    overflow: hidden;
    width: 700px;
    height: 150px;
    padding: 10px;
    border: solid lightgrey;
    border-radius: 10px;
    background-color: lightgrey;
    text-align: center;
}

.button {
    width: 10%;
    margin-left: 20px;
    border: #0066cc solid;
    background-color: #0066cc;
    color: #FFFFFF;
    border-radius: 10px;
}

.button:hover {
    border: lightskyblue solid;
}
.button:active {
    text-decoration: underline;
}
