.button {
    margin-left: 54px;
    margin-right: 54px;
    width: 133px;
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
    border: solid 1px #0066CC;
    border-radius: 3px;
}

.disabled {
    width: 133px;
    height: 30px;
    border: solid 1px #004D99;
    border-radius: 3px;
    background-color: #004D99;
    opacity: 50%;
    color: black;
}

.secondary {
    width: 200px;
    background-color: #FFFFFF;
    color: #004D99;
}

.default {
    background-color: #0066CC;
    color: #FFFFFF;
}

.red {
    border: solid 1px #CC1439;
    background-color: #CC1439;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
